.contact {
    margin-top: 150px;
    margin-bottom: 65px;
    height: 100%;
    position: relative;
    min-height: calc(75vh);
}

.formcontainer {
    width: 60%;
    margin: 0 auto;
    height: 100%;
}

.secondary-color {
    background-color: var(--secondary-color);
}

#contact-submit {
    background-color: var(--secondary-color);
}

#contact-submit:hover {
    filter: brightness(150%);
}