.contact {
    margin-top: 25px;
    margin-bottom: 65px;
    height: 100%;
}

.formcontainer {
    width: 60%;
    margin: 0 auto;
}

.secondary-color {
    background-color: var(--secondary-color);
}