.donate {
    margin-top: 50px;
    margin-bottom: 65px;
    height: 100%;
    position: relative;
    min-height: calc(70vh);
}

.donate-header {
    color: #707070;
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
}

.donate-title {
    font-size: 2.5rem;
    background-color: #F0F0F0;
    padding: 50px 0;
    margin-bottom: 70px;
}

.secondary-color {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}

.secondary-color:hover {
    filter: brightness(150%) !important;
}

.donate-table-container {
    display: flex;
    text-align: center;
}

.donate-table {
    margin: 0 auto !important;
    max-width: 70%;
}