* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --primary-color: #79add3;
  --secondary-color: #13294b;
  --text-1: white;
  --text-2: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
} 